@import "./reset.css";
@import "../css/font-awesome/css/font-awesome.min.css";


.footer-copyright{
    
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #474e5d;
    color: #ffffff;
}