@import "./reset.css";
@import "../css/font-awesome/css/font-awesome.min.css";


nav{
    border: radius 5px;
    background-color: green;
}

nav ul{
    margin:0px;
    padding: 0px;
    list-style: none;
    text-align: center;
    font-size: 1,5rem;
}


nav a{
    color: initial;
    display: block;
    white-space: nowrap;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
nav a:hover{
    background-color: grey;
}

.container-fluid {
    padding-top: 7rem;
    padding-bottom: 7rem;
}


.footer-copyright{
    height: 7rem;
    bottom: -1px;
    background-color: #474e5d;
    color: #ffffff;
}